{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <h1>Category</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ category.name }}</td>
        </tr>

        <tr>
            <th>Products for this Category</th>
            <td>
                {% for product in category.products %}
                    {{ product.id }} :: {{ product.description }}
                    <br>
                {% else %}
                    (no products for this category)
                {% endfor %}
            </td>
        </tr>

    </table>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {% include 'category/_delete_form.html.twig' with {'identifier': category.id} only %}

{% endblock %}